production:
  email_delivery:
    delivery_method: :smtp
    smtp_settings:
      enable_starttls_auto: true
      address: "smtp.name"
      port: '587'
      domain: "smtp.name"
      authentication: :plain
      user_name: "redmine@name"
      password: "EMAIL_PASSWD"
